.navitems {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 25px;
  white-space: nowrap;
}

.navitems a {
  color: white;
  text-decoration: none;
}

fa-icon {
  color: white;
}

.navitems input {
  color: #444;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  padding: 5px 16px;
  margin-left: 8px;
  width: 150px;
  height: 50%;
  transition: width 0.3s ease-in-out;
  -webkit-appearance: none;
}

.navitems input:focus {
  width: 100%;
}

